body {
  margin: 0;
  font-family: "Bebas Neue", cursive;
  color: #444 !important;
  background: #fff !important;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.shade {
  background: rgb(66 73 91 / 81%);
}

header h1 {
  font-size: 2rem;
}

.container.d-flex {
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 576px) {
    max-width: 540px;
  }
}

nav {
  font-size: 1.3rem;
  margin-left: 2rem;
  margin-top: -0.5rem;
}

nav a.text-light:focus {
  color: #4ac2d5 !important;
}

nav a.text-light:hover {
  color: #4ac2d5 !important;
}

.carousel-item > img {
  height: 100vh;
}

.carousel-caption > h2 {
  color: #04d2c8;
  font-weight: bolder;
  font-size: 6rem;
}
.carousel-caption > p {
  color: #f8f9fa;
  font-weight: bolder;
  font-size: 3rem;
}

#wrapper-sidebar {
  margin-top: 3rem;
  min-width: 100vw;
  min-height: 3.5rem;
  position: fixed;
  z-index: 1030;
  padding-left: 25%;
  padding-right: 25%;
  background: #e9eff4;
  /* background: rgba(233, 239, 244, 0.5); */
}

.sidebar-btn {
  padding: 0 !important;
  margin: 0;
  border: none;
  color: #595959;
  font-weight: 700;
  background: none !important;
}

.sidebar-btn:hover,
.sidebar-btn.active-btn:hover {
  color: #038781;
}

.sidebar-btn:not(:last-child) {
  border-right: 2px solid #595959;
}

.sidebar-btn.active-btn {
  color: #3ec1d5;
}

button.list-group-item.list-group-item-action:hover {
  background-color: #3ec1d5 !important;
  border: 2px 0 0 0 solid #3ec1d5 !important;
}
button.list-group-item.list-group-item-action.active-btn {
  background: rgba(0, 0, 0, 0.5) !important;
  border-left: 5px solid #3ec1d5 !important;
  border-bottom: 5px solid #3ec1d5 !important;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#content-right {
  margin-top: 10rem;
  /* margin-left: 15rem; */
  width: 100vw;
}

#school-title,
#content-right h1 {
  color: #444;
  font-style: italic;
}

.underline {
  width: 9rem;
  height: 0.3rem;
  background: #444;
  margin-left: auto;
  margin-right: auto;
}

div#root > main {
  display: flex;
}

div.school-list {
  margin-top: 5rem;
}

ul.school-cards,
ul li {
  list-style: none;
}

ul li,
li .mentors {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: left;
}

.card {
  border-radius: 0.625rem !important;
}

div.card.mb-3 {
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.1);
}

.minimum-height {
  height: 4rem;
}

section > img {
  border-radius: 0.625rem;
}

.card-body {
  font-size: 1.1rem;
  background: #04d2c8;
  border-bottom-right-radius: 0.625rem !important;
  border-bottom-left-radius: 0.625rem !important;
}
/* 
#content-right .card-body-student.text-left {
  font-size: 1.1rem;
  background: #04d2c8;
  border-bottom-right-radius: 0.625rem !important;
  border-bottom-left-radius: 0.625rem !important;
} */

.card-body-student {
  font-size: 1.1rem;
  background: #04d2c8;
  border-bottom-right-radius: 0.625rem !important;
  border-bottom-left-radius: 0.625rem !important;
  position: relative;
}

.courses {
  padding-left: 0;
  font-size: 1.4rem;
  text-align: left;
  border: none !important;
}

.subjects {
  background: #04d2c8 !important;
  margin-left: 1rem;
  font-size: 1.4rem;
  text-align: left;
  border: none !important;
}

.link a:hover {
  color: #42495b;
  text-decoration: none !important;
}

#loading {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

.card-title > a {
  font-size: 2rem;
  font-weight: bolder;
  font-style: italic;
  color: #fff;
}

.card-title > a:hover {
  color: #42495b;
  text-decoration: none;
}

.card-body-student a.btn.custom-btn {
  margin-left: 0rem;
}

.student-card {
  border: none !important;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.75);
  color: #42495b;
  padding-top: 30px;
  position: relative;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.img-student {
  width: 200px !important;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 2em;
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
}

.student-tag {
  color: #fff;
  background-color: #04d2c8;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.student-cards {
  justify-content: space-between;
}

.yellow {
  color: #ff9900;
}

.white {
  color: #fff;
}

#content-right h2 {
  color: #04d2c8;
}

.active-btn {
  font-weight: bolder;
}

.bg-dark.text-warning {
  margin: 0 auto;
}

#content-right .row img.card-img {
  border-radius: 50% !important;
}

.card.mentors-card {
  border: none !important;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.75);
  color: #42495b;
  padding-top: 30px;
  position: relative;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.cards-container {
  justify-content: space-between;
}

.mentor-tag {
  color: #fff;
  background-color: #04d2c8;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.img-mentor {
  width: 300px !important;
  margin: 0 auto;
  height: 300px;
  margin-bottom: 2em;
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
}

.card-img-top,
#content-right > section img {
  object-fit: cover;
  /* border-top-left-radius: 0.625rem !important;
  border-top-right-radius: 0.625rem !important; */
}

#secondary-title {
  font-size: 2.1rem;
  color: #04d2c8;
  font-weight: bolder;
}

.height50 {
  height: 50vh;
}

.bullets {
  color: #3ec1d5;
}

button.custom-btn,
a.custom-btn {
  border-radius: 10px;
  background: #fff;
  color: #42495b;
  cursor: pointer;
  display: inline-block;
  font-weight: bolder;
  margin-top: 30px;
  padding: 12px 40px;
  text-align: center;
  transition: all 0.4s ease 0s;
}
div#root main button.custom-btn:hover,
a.custom-btn:hover {
  color: #fff;
  background: #42495b;
  border: 1px solid #42495b;
  text-decoration: none;
}

button.custom-btn2,
a.custom-btn2 {
  border-radius: 30px;
  color: #fff;
  background: #04d2c8;
  cursor: pointer;
  display: inline-block;
  font-weight: bolder;
  margin-top: 30px;
  padding: 12px 40px;
  text-align: center;
  transition: all 0.4s ease 0s;
}
button.custom-btn2:hover,
a.custom-btn2:hover {
  color: #fff;
  background: #038781;
  border: 1px solid #038781;
  text-decoration: none;
}

.no-border {
  border: none !important;
}

#form-subtitle {
  border-bottom: 0.2rem dotted #444;
}

div#root button.custom-btn3,
div#root a.custom-btn3 {
  border-bottom: 4px solid transparent;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  font-size: 1.4rem;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-weight: bolder;
  margin-top: 30px;
  margin-right: 30px;
  padding: 5px 0px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
}

div#root main button.custom-btn3:hover,
div#root a.custom-btn3:hover {
  border-bottom: 4px solid #3ec1d5;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  background: rgba(0, 0, 0, 0);
}
body div#root main .active-custom-btn3 {
  color: black;
  border-bottom: 4px solid #3ec1d5;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

button:focus {
  outline: none !important;
}

table.table.table-bordered,
table.table.table-bordered {
  font-size: 1.2rem;
  border: #444 solid 0.3rem;
  -webkit-box-shadow: 6px 6px 13px 2px #000000;
  box-shadow: 6px 6px 13px 2px #000000;
}

table.table.table-bordered td {
  font-style: italic;
}

#footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  clear: both;
  overflow: hidden;
  padding: 91px 0 0 0;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
  display: block;
  background: #42495b url(./images/bg_white_arrow.png) no-repeat 50% 0;
  margin-top: 11rem;
  position: relative;
  bottom: 0;
  width: 100vw;
}

#footer .footer-container {
  position: relative;
}

#footer ul {
  list-style: none;
}

#footer article {
  float: left;
  width: 33.33%;
  padding: 0 15px;
}

#footer h3 {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-family: "BebasNeue";
  line-height: 52px;
  display: block;
  padding-bottom: 25px;
  padding-left: 30px;
  font-weight: bold;
}

#footer .col-1 {
  left: 11%;
}

#footer .col-1 li {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  line-height: 16px;
  padding-top: 1px;
  margin-top: -13px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#footer .col-1 .map-icon {
  position: relative;
  right: 15px;
  top: 16px;
}

#footer .col-1 .email {
  padding-bottom: 10px;
  margin-bottom: 25px;
}

#footer .col-1 .email-icon {
  position: relative;
  right: 20px;
  top: 16px;
}

#footer .col-1 .phone a:after {
  height: 32px;
  top: -6px;
}

#footer .col-1 .phone-icon {
  position: relative;
  right: 20px;
  top: 16px;
}

#footer .last {
  border: none !important;
}

#footer a {
  color: #fff;
}

#footer .col-2 {
  left: 31%;
}

#footer .col-2 li {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 9px;
  margin-bottom: 9px;
}

#footer .col-2 li a {
  position: relative;
  right: 10px;
}

#footer .col-3 {
  left: 42%;
}

#footer .col-3 li {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 9px;
  margin-bottom: 9px;
}

#footer .col-3 li a:after {
  width: 32px;
  height: 32px;
  position: absolute;
  top: px;
  left: 0;
  content: "";
}

#footer .col-3 .facebook-icon {
  position: relative;
  right: 5px;
}

#footer .col-3 .twitter-icon {
  position: relative;
  right: 5px;
}

#footer .col-3 .youtube-icon {
  position: relative;
  right: 5px;
}

#footer .copyright {
  display: block;
  text-align: center;
  clear: both;
  padding: 30px 0 20px 0;
}

/*MENU*/
.menu .sticky-menu.sticky {
  display: block;
}

.menu .sticky-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 11;
  background: rgb(255, 255, 255);
  height: 75px;
  padding-top: 18px;
  box-shadow: rgb(34 34 34) 0px 0px 20px -10px;
}

.logo {
  max-height: 4rem;
  color: #04d2c8;
}
#logo-name {
  color: #007c76;
}

#logo-text {
  color: #04d2c8;
}

#logo-name:hover,
#logo-text:hover,
.menu .link a {
  text-decoration: none !important;
}
